input[type="radio"]{
  display: none;
}

label{
  position: relative;
  display: flex;
  align-items: center;
}

label::before{
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 3px solid var(--clr);
  border-radius: 50%;
  margin-right: 20px;
}

input[type="radio"]:checked + label::before{
  height: 15px;
  width: 15px;
  margin: 0 25px 0 10px;
  outline: 8px solid white;
  background-color: var(--clr);
}