@import url(nav.css);
@import url(footer.css);
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #a0a0a0;
  border-radius: 50px;
  transition: .5s;
}

::-webkit-scrollbar-thumb:hover{
  background: #ff8640;
}

::-webkit-scrollbar-track{
  background: transparent;
}

.aboutus{
  display: block;
  position: relative;
  margin: 40px 10vw;
}

.aboutus h1{
  color: #000;
  font-weight: 600;
}

.aboutus p{
  color: #000;
}