.header{
  position: relative;
  text-align: center;
  color: #fff;
}

.cont{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container::before{
  content: '';
  position: fixed;
  background: url(../img/bg1.png) no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.heading{
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #fff;
}

.search-box{
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #e5e5e5;
  border: none;
  outline: none;
  font-size: 18px;
}

.search-btn{
  background: #ff5e00;
  padding: 10px 0;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer; 
}

.category{
  width: 110px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  background: rgba(255, 94, 0, 0.5);
  transition: 0.5s;
}

.category:hover{
  background: rgba(255, 94, 0, 1);
  color: #fff;
}

.category i{
  font-size: 25px;
  margin-bottom: 7px;
}

.line-break{
  height: 20px;
  display: none;
}

hr{
  border-top: 3px solid black;
  opacity: 1;
  margin: 20px 0 0 0 !important;
}

@media screen and (max-width: 425px){
  .line-break{
    display: block;
  }
}

.dark-bg{
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .5;
}

.carousel-item{
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.imgSlide{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}