@import url(nav.css);
@import url(form.css);
@import url(footer.css);

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

.main{
  display: block;
  position: relative;
  padding: 50px 10vw;
}

.vid{
  display: block;
  position: relative;
  background: #fff;
  padding: 20px 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.title{
  display: flex;
  position: relative;
  padding: 0 0 20px 0;
  border-bottom: 2px solid #000;
  justify-content: space-between;
  align-items: center;
}

.title h1{
  display: block;
  position: relative;
  margin-left: 10px;
  font-size: 40px;
  font-weight: 600;
}

.title ul{
  position: relative;
  display: flex;
  gap: 20px;
  margin-right: 10px;
}

.stars{
  display: flex;
  position: relative;
  background: #fff;
  height: 50px;
  flex-direction: row-reverse;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.stars input{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: auto;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
}

.stars input::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 3px solid #ffdf00;
  transition: 0.5s ease-in-out;
}

.stars:hover > input::after{
  height: 94%;
}

.stars input::before{
  content: "\f005";
  font-family: fontAwesome;
  color: #fff;
  -webkit-text-stroke: 2px #ffdf00;
  position: absolute;
  display: block;
  font-size: 25px;
  left: 6px;
  transition: .5s;
}

.stars input:nth-child(2n+1):before{
  right: 6px;
  left: initial;
}

.stars input:hover ~ input::before, .stars input:hover::before, .stars input:checked ~ input::before, .stars input:checked::before{
  color: #ffdf00;
  -webkit-text-stroke: 2px #ffdf00;
}

.heart, .share{
  display: flex;
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.heart .fa-solid, .share .fa-solid{
  font-size: 25px;
  -webkit-text-stroke: 2px var(--clr);
  color: transparent;
}

.heart::before, .share::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: 3px solid var(--clr);
  transition: 0.5s ease-in-out;
  font-family: fontAwesome;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: var(--clr);
}

.share:hover::before{
  height: 100%;
}

.share:nth-child(3):before{
  content: '\f064';
}

.body{
  display: flex;
  position: relative;
  padding: 20px;
  gap: 30px;
}

iframe{
  display: block;
}

.recipe-container{
  display: block;
  position: relative;
}

.recipe-container h2{
  display: block;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 10px;
  color: #ff5e00;
}

.container{
  display: block;
  width: 300px;
  height: 220px;
  background: #fff;
  transition: 0.5s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 20px;
}

.thumbnail{
  display: block;
  width: 300px;
  height: auto;
}

.box-title{
  display: block;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

.h2{
  display: block;
  font-weight: 600;
  color: #ff5e00;
  padding-top: 30px;
}

.pI, .pD{
  display: block;
  padding: 10px 0;
}

.container div .heart{
  display: none;
}